.trainers {
  text-align: center;
  padding: 10rem;
}

.trainer-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trainer-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.trainer-card {
  background-color: #f0f0f0;
  padding: 1rem;
  margin: 1rem;
  /* border-radius: 10px; */
  width: 25%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-decoration: none;
  color: inherit;
  display: block;
  border: 2px solid #ff00ff;
}

.trainer-card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.trainer-card h3 {
  margin-top: 0;
}

.arrow-icon {
  cursor: pointer;
  font-size: 2rem;
  margin: 0 1rem;
  color: #ff00ff;
}

.arrow-icon:hover {
  color: #e600e6;
}


@media (max-width: 1024px) {
  .trainer-card {
    width: calc(33.333% - 2rem);
  }
  .trainer-list-wrapper {
    flex-direction: column;
    align-items: center;
}

  .trainer-card {
    width: 80%;
  }
}
/* Responsive Design */
@media (max-width: 768px) {
  .trainer-list-wrapper {
      flex-direction: column;
  }

  .trainer-list {
      width: 100%;
  }

  .trainer-card {
      width: 80%;
  }

  .arrow-icon {
      font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .trainer-card {
    width: 100%;
  }

  .arrow-icon {
    font-size: 1.2rem;
  }
}

