.trainer-info {

}

.trainer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5rem;
border: 1px solid red;}

.cours-card{
  border: 1px solid red;
}

img {
    
}

h3{
    text-align: center;
}